.planet {
  width: 100%;
  height: 100%;
}

.planet-info-list {
  list-style: none;
  margin: 0;
  padding: 30px;
  text-align: left;
}

.planet-info {
  padding: 8px 0;
}

.planet-info b {
  color: #f4ff00;
}
